body {
  font-family: 'Baloo Bhai 2', serif;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.app {
  background-color: #fff;
  width: 40vw;
  border: 5px solid #abcea1;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
} 

h1 {
  font-size: 60px;
  font-weight: 700;
  font-style: italic;
  color: grey;
  margin: 0;
}

p {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0;
}

.addItem {
  display: flex;
  flex-direction: row;
}

input {
  font-size: 20px;
  font-family: 'Baloo Bhai 2', cursive;
  width: 80%;
  padding: 10px;
}

#enter {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Baloo Bhai 2', cursive;
  cursor: pointer;
  width: 20%;
  padding: 5px 15px;
  background-color: #abcea1;
  border-color: #abcea1;
}

.listContainer {
  height: 60vh;
  overflow: auto;
}

ul {
  padding: 0;
}

.itemWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e2eede;
  margin: 10px 0;
  padding: 5px;
  border: 3px solid #abcea1;
  border-radius: 6px;
}

ul li {
  list-style: none;
  cursor: pointer;
  font-size: 25px;
}

.done {
  text-decoration: line-through;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
}

.btnSmall {
  margin: 0 5px;
  cursor: pointer;
  color: #fff;
  border-radius: 50px;
  border: none;
  padding: 5px 10px;
  font-weight: 400;
}

.editBtn {
  background-color: rgb(44, 71, 152);
}

.deleteBtn {
  background-color: firebrick;
}




